<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Create a new product</title>
</head>
<body>
  <h1>Add a new product</h1>
  <form action='{% url "products:create" %}' method='post'>
    {% csrf_token %}
    Name: <input type='text' name='name'/><br />
    Description: <input type='text' name='description'/><br />
    Price: <input type='text' name='price'/><br />
    <input type='submit' value='Create'/>
  </form>
  <a href='{% url "products:index" %}'>Go back</a>
</body>
</html>
