<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Product {{product.id}} Info</title>
</head>
<body>
  <h1>Product {{product.id}}</h1>
  Name: {{product.name}}
  Description: {{product.description}}
  Price: {{product.price}}
  <a href='{% url "products:edit" product.id %}'>Edit</a>
  <a href='{% url "products:index" %}'>Back</a>
</body>
</html>
